#aggregation-wrapper {
  padding: 20px;
  #histogram {
    height: 200px;
  }
  .bin {
    height: 100%;
    position: relative;
    .contents {
      background: steelblue;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .label, .bin {
    display: inline-block;
    width: 25px;
    margin-right: 5px;    
  }
  .label {
    padding-top: 5px;
  }
  .input-wrapper {
    margin-top: 20px;
    button {
      margin-left: 5px;
      border-radius: 2px;
      border: solid 1px #222;
    }
    input, button {
      display: inline-block;
    }
  }
}