#distance_matrix {
  margin: 20px;
  .dropdown-wrapper {
    display: inline-block;
    margin-right: 18px;
  }
  .canvas_wrapper {
    margin-top: 5px;
    position: relative;
    .highlight-region {
      position: absolute;
      border: solid 2px white;
    }
  }
  canvas {
    pointer-events: none;
  }
  .left, #highlighted_sentences {
    display: inline-block;
    vertical-align: top;
  }
  .inner-contents {
    padding-bottom: 20px;
  }
  #highlighted_sentences {
    height: 100%;
    overflow: scroll;
    padding-left: 40px;
    .label {
      margin-top: 0;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .sentence {
      margin-bottom: 10px;
    }
  }
}