#distance_matrix {
  .dropdown-wrapper {
    display: inline-block;
    margin-right: 18px;
  }
  .canvas_wrapper {
    margin-top: 5px;
    position: relative;
    .highlight-region {
      position: absolute;
      border: solid 2px white;
    }
  }
  canvas {
    pointer-events: none;
  }
  .left, #highlighted_sentences {
    display: inline-block;
    vertical-align: top;
  }
  .inner-contents {
    padding-bottom: 20px;
  }
  .presets {
    margin-bottom: 20px;
    h4 {
      font-size: 10px;
      margin-right: 10px;
    }
    h4, .preset-options, .preset {
      display: inline-block;
      vertical-align: middle;
    }
    .preset {
      cursor: pointer;
      font-size: 10px;
      width: 21px;
      height: 21px;
      border: solid 1px lighten($silver-sand, 5%);
      border-radius: 50%;
      margin-right: 8px;
      line-height: 18px;
      vertical-align: top;
      margin-top: 6px;
      padding-left: 6px;
      &[data-active="true"] {
        border-color: #222;
      }
    }
  }
  #highlighted_sentences {
    height: 100%;
    overflow: scroll;
    padding-left: 50px;
    h4 {
      margin-bottom: 5px;
    }
    .preset-description {
      font-size: 12px;
      span {
        margin-right: 5px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    .sentences-wrapper {
      margin-top: 25px;
    }
    .sentence {
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 1.8;
    }
  }
}