#distance_matrix {
  .dropdown-wrapper {
    display: inline-block;
    margin-right: 18px;
  }
  .canvas_wrapper {
    margin-top: 5px;
    position: relative;
    .highlight-region {
      position: absolute;
      border: solid 2px white;
    }
  }
  canvas {
    pointer-events: none;
  }
  .left, #highlighted_sentences {
    display: inline-block;
    vertical-align: top;
  }
  .inner-contents {
    padding-bottom: 20px;
  }
  #highlighted_sentences {
    height: 100%;
    overflow: scroll;
    padding-left: 50px;
    h4 {
      margin-bottom: 25px;
    }
    .sentence {
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 1.8;
    }
  }
}