#embedding_spiral {
  position: relative;
  margin: 40px 0;
  .contents {
    background: whitesmoke;
    border-top: solid 1px $silver-sand;
    border-bottom: solid 1px $silver-sand;
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    overflow: hidden;
    .inner-contents {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .sentence-wrapper {
    &[data-active="true"] {
      .label {
        background: yellow
      }
    }
    canvas, .label {
      display: inline-block;
      vertical-align: middle;
    }
    .label {
      font-size: 12px;
      margin-left: 10px;
    }
  }
  .controls {
    .distance-wrapper {
      margin-top: 30px;
    }
    .svg-wrapper {
      position: relative;
    }
    .graph_max, .graph_min {
      position: absolute;
      font-size: 9px;
      left: 0;
      line-height: 1;
      transform: translate3d(-100%, -50%, 0);
      &:after {
        content: "-";
        margin-left: 2px;
      }      
    }
    .graph_min {
      bottom: 0;
    }
    .graph_max {
      top: 0;
    }
  }
  .sentences-wrapper {
    overflow: hidden;
  }
  .manipulations-wrapper {
    overflow: scroll;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: solid 1px darken(whitesmoke, 10%);
  }
  .sentences-wrapper, .controls {
    display: inline-block;
    vertical-align: top;
    h4 {
      padding-top: 15px;
      font-size: 12px;
    }
    h4.label {
      padding-top: 0;
      font-size: 10px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }
  .sentences-wrapper {
    overflow: scroll;
    height: 100vh;
    padding-left: 20px;
  }
  svg {
    overflow: visible;
    path {
      fill: none;
      stroke: #222;
    }
    circle {
      fill: #222;
    }
    .axis {
      stroke: #222
    }
  }
  canvas {
    border: none;
  }
}