#matrix {
  margin-bottom: 4rem;
  .bar {
    transition: all $transition-duration;
    background: $bittersweet;
    border-radius: 2px;
    height: 1rem;
    &.null {
      background: #ccc;
    }
  }
  .matrix-row {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
  }
  .label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}