#parallel_coordinates {
  margin: 50px;
  .label {
  }
  .column-wrapper {
    display: inline-block;
    width: 50px;
    .column {
      margin-top: 10px;
      margin-bottom: 10px;      
    }
    .cell {
      width: 5px;
      height: 5px;
    }
  }
}