#permutations {
  padding: 20px;
  .vector-wrapper, .progressions {
    display: inline-block;
    vertical-align: top;
  }
  .vector-wrapper {
    position: relative;
  }
  .outline {
    position: absolute;
    border-radius: 50%;
    border: solid 1px rgba(#222, 0.2);
  }
  svg {
    overflow: visible;
    path {
      fill: none;
      stroke: #222;
    }
  }
  .circle {
    position: absolute;
    &.hover-encoding {
      .node {
        background: orange;
      }
      path {
        stroke: orange;
      }
    }
  }
  .spoke {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0 0;
    .node {
      width: 4px;
      height: 4px;
      transform: translate3d(-50%, -50%, 0);
      background: #222;
      position: absolute;
      border-radius: 50%;
    }
  }
  .item {
    &:hover {
      background: yellow;
    }
  }
}