#permutations {
  padding: 20px;
  .vector-wrapper, .progressions {
    display: inline-block;
    vertical-align: top;
  }
  .vector-wrapper {
    position: relative;
  }
  .outline {
    position: absolute;
    border-radius: 50%;
    border: solid 1px #222;
  }
  .circle {
    position: relative;
  }
  .spoke {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0 0;
    .node {
      width: 5px;
      height: 5px;
      transform: translate3d(-50%, -50%, 0);
      background: #222;
      position: absolute;
      border-radius: 50%;
    }
  }
}