$controls-width: 300px;
$controls-buffer: 25px;

#sentences_vs_features_matrix {
  .inner-contents {
    padding-top: 40px;
  }
  .bins-wrapper {
    margin-bottom: 38px;
    margin-top: 18px;
    position: relative;
    .max-fraction {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 10px;
      line-height: 0.5;
    }
    svg {
      overflow: visible;
    }
  }
  .labels {
    position: relative;
    .min {
      left: 0;
    }
    .max {
      right: 0;
    }
    .min, .max {
      position: absolute;
      font-size: 10px;
      top: -5px;
    }
  }
  canvas {
  }
  .active-sentence {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.75;
  }
  .canvas-wrapper, .controls {
    display: inline-block;
    vertical-align: top;
  }
  .canvas-wrapper {
    position: relative;
  }
  svg {
    path {
      fill: none;
    }
  }
  .dropdown-wrapper-wrapper {
  }
  .range, .stdev-line {
    &:before, &:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background: $mine-shaft;
      width: 3px;
      height: 3px;
      top: -1px;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .range {
    height: 1px;
    background: $mine-shaft;
    position: absolute;
  }
  .stdev-line {
    height: 1px;
    background: $mine-shaft;
    margin-bottom: 8px;
    position: relative;
    .color-bar {
      position: absolute;
      top: 9px;
      border-left: solid 2px whitesmoke;
      border-right: solid 2px whitesmoke;
      box-sizing: content-box;
      left: -2px;
    }
    .stdev-label {
      position: absolute;
      left: 0;
      bottom: 100%;
      font-size: 10px;
      white-space: nowrap;
    }
  }
  .scale-wrapper {
    .scale-wrapper-labels {
      position: relative;
    }
    .scale-label {
      position: absolute;
      font-size: 10px;
      top: -2px;
      &.min {
        left: 0;
      }
      &.max {
        right: 0;
      }
    }
  }
  .color-bar {
    height: 4px;
    width: 100%;
  }
  .controls {
  }
  .dropdown-wrapper {
    h4 {
      margin-bottom: 20px;
      margin-top: 2px;
    }
    select {
      vertical-align: top;
    }
  }
  .mask {
    position: absolute;
    top: -1px;
    width: 1.5px;
    border: solid 1px #222;
    box-sizing: content-box;
    &:not([data-active="true"]) {
      display: none;
    }
  }
}