$controls-width: 300px;
$controls-buffer: 25px;

#sentences_vs_features_matrix {
  .inner-contents {
    padding-top: 40px;
  }
  .bins-wrapper {
    margin-bottom: 20px;
    margin-top: 18px;
    position: relative;
    .max-fraction {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 10px;
      line-height: 0.5;
    }
    svg {
      overflow: visible;
    }
  }
  .labels {
    position: relative;
    .min {
      left: 0;
    }
    .max {
      right: 0;
    }
    .min, .max {
      position: absolute;
      font-size: 10px;
      top: -5px;
    }
  }
  canvas {
  }
  .active-sentence {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.75;
  }
  .canvas-wrapper, .controls {
    display: inline-block;
    vertical-align: top;
  }
  .canvas-wrapper {
    position: relative;
  }
  svg {
    path {
      fill: none;
    }
  }
  .dropdown-wrapper-wrapper {
  }
  .scale-wrapper {
    display: inline-block;
    margin-left: 15px;
    .scale-label, .color-bar {
      display: inline-block;
      vertical-align: middle;
    }
    .scale-label {
      font-size: 11px;
      font-weight: 500;
    }
    .color-bar {
      margin: 0 8px;
      height: 4px;
      width: 100px;
    }
  }
  .controls {
  }
  .dropdown-wrapper {
    h4 {
      margin-bottom: 20px;
      margin-top: 2px;
    }
    select {
      vertical-align: top;
    }
  }
  .mask {
    position: absolute;
    top: -1px;
    width: 1.5px;
    border: solid 1px #222;
    box-sizing: content-box;
    &:not([data-active="true"]) {
      display: none;
    }
  }
}