#sentences_vs_features_matrix {
  .inner-contents {
    padding-top: 50px;
  }
  canvas {
  }
  .active-sentence {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.75;
  }
  .active-sentence, .canvas-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);    
  }
  .canvas-wrapper {
    position: relative;
  }
  .mask {
    position: absolute;
    top: -1px;
    width: 2px;
    border: solid 1px #222;
    box-sizing: content-box;
    &:not([data-active="true"]) {
      display: none;
    }
  }
}