#sentences_vs_features_matrix {
  .inner-contents {
    padding-top: 50px;
  }
  canvas {
  }
  .active-sentence {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.75;
  }
  .active-sentence, canvas {
    position: relative;
    left: 50%;
    transform: translateX(-50%);    
  }
}