#game-controls {
  position: fixed;
  top: 2rem;
  right: 2rem;  
  font-size: 1.5rem;
}

#turn-marker {
  .player {
    border-radius: 2px;
    text-align: center;
    width: 10rem;
    padding: 1rem 0;
    margin-bottom: .5rem;
    letter-spacing: 0.5px;
    &[data-active="true"] {
      background: white;
      font-weight: bold;
    }
  }
}