#game-controls {
  position: fixed;
  top: 2rem;
  right: 2rem;  
}

#turn-marker .player, #score-game-button {
  font-size: 1.5rem;
  text-align: center;
  width: 12rem;  
  padding: 1rem 0;
  letter-spacing: 0.5px;
}

#turn-marker {
  .player {
    border-radius: 4px;
    margin-bottom: .5rem;
    transition: all $transition-duration;
    &[data-active="true"] {
      background: white;
      font-weight: bold;
    }
  }
}

#score-game-button {
  margin-top: 3rem;
  background: $text-color;
  color: white;
  font-weight: 100;
}