button {
  background: none;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-wrapper {
  h4, select {
    display: inline-block;
    vertical-align: middle;
  }
  select {
    margin-left: 6px;
  }
  h4 {
    font-size: 10px;
    text-transform: uppercase;
  }
}

.inset_visualization {
  position: relative;
  margin: 50px 0;
  .contents {
    background: whitesmoke;
    border-top: solid 1px $silver-sand;
    border-bottom: solid 1px $silver-sand;
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    overflow: hidden;
    .inner-contents {
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      .side-header {
        padding-top: 15px;
        font-size: 12px;
      }
    }
  }
}