.arg-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  span {
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-right: 0.25rem;
  }
}

#argument-controls, #user-turn-input {
  position: fixed;
  left: 3rem;
  top: 3rem;
  max-width: 25vw;
  max-height: 20vh;
  button {
    background: white;
    line-height: 2.5;
    padding: 0 1rem;
  }
  .child-selector, button {
    margin-right: 1.25rem;
    display: inline-block;
  }
}

.argument-support {
  margin-bottom: 1rem;
  .label {
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #aaa;
    font-weight: 500;
  }
}

.supporters {
  .supporter {
    cursor: pointer;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    border-radius: 50%;
  }
}