#user-profile {
  font-size: 1.2rem;
  button {
    display: block;
    margin-bottom: 3.5rem;
  }
  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    border-radius: 50%;
    &.main {
      width: 5rem;
      height: 5rem;
      display: inline-block;
      vertical-align: middle;
    }    
  }
  .name {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .user {
    margin-bottom: 1rem;
    .avatar, .description {
      display: inline-block;
      vertical-align: middle;
    }
    .avatar {
      margin-right: 1rem;
    }
    .description {
      span {
        color: #aaa;
        font-weight: 500;
      }
    }
  }
  .similarity-list {
    margin-top: 3rem;
    .label {
      margin-bottom: 1.5rem;
    }
  }
}