$transition-duration: 250ms;

$background: #EFEEEC;
$bittersweet: #FF6468;
$green: #479446;
$silver-sand: #c0c3c7;
$dove-gray: #707070;

$text-color: #282725;

$controls-width: 0vw;

// distill style variables
