$transition-duration: 250ms;

$background: #EFEEEC;
$bittersweet: #FF6468;
$green: #479446;
$silver-sand: #c0c3c7;
$dove-gray: #707070;

$alabaster: #f7f7f7;
$mine-shaft: #2a2a2a;
$silver-sand: #c0c3c7;
$athens-gray: #eaebed;

$text-color: #282725;

$controls-width: 0vw;

// distill style variables
