body {
  margin: 0;
}

body, html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

app {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tweets-container {
  position: absolute;
  color: white;
  top: 0;
  width: 20vw;
  .tweet {
    margin-bottom: 2rem;
    cursor: pointer;
    &[data-active="true"] {
      background: red;
    }
  }
}