body {
  margin: 0;
}

app {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

canvas {
  display: block;
  border: solid 1px #ccc;
  position: relative;
}

button {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#debug canvas {

}

svg {
  .value {
    text-transform: uppercase;
  }
  .support {
    fill: green;
  }
  .attack {
    fill: red;
  }
}