@import "scss/variables";
@import "scss/controls";
@import "scss/moralMatricesChart";
@import "scss/userTurnInput";
@import "scss/turnMarker";
@import "scss/argumentControls";

body {
  margin: 0;
  background: $background;
}

body, html {
  font-family: Helvetica Neue;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

app {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

canvas {
  display: block;
  position: relative;
}

button {
  display: block;
  margin-bottom: 1rem;
}

$webgl-buffer: 0px;

#webgl-wrapper {
  position: fixed;
  left: $webgl-buffer;
  top: $webgl-buffer;
  bottom: 0;
  width: calc(100vw - #{$controls-width} - #{$webgl-buffer});
}

#debug canvas {

}

svg {
  .value {
    text-transform: uppercase;
  }
  .support {
    fill: green;
  }
  .attack {
    fill: red;
  }
}

