@import "scss/variables";
@import "scss/uiElements";

body {
  margin: 0;
  background: $background;
}

body, html {
  font-family: Helvetica Neue;
  font-size: 10px;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

app {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

canvas {
  display: block;
  position: relative;
}

button {
  display: block;
  margin-bottom: 1rem;
}

$webgl-buffer: 0px;

#webgl-wrapper {
  position: fixed;
  left: $webgl-buffer;
  top: $webgl-buffer;
  bottom: 0;
  width: calc(100vw - #{$controls-width} - #{$webgl-buffer});
}

#debug canvas {

}

#start, #finish {
  position: fixed;
}

#start {
  top: calc(50vh - 15px);
  left: 20vw;
  .marker {
    left: 0;
    top: calc(100% + 3px);
  }
}

#finish {
  top: calc(50vh + 15px);
  right: 20vw;
  .marker {
    bottom: calc(100% + 3px);
    right: 0;
  }
}

#start, #finish {
  .marker {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #222;
    border-radius: 50%;
  }
}
